Body{
    background: url('../images/bg.png');
    background-size: cover;
}
#HeroStatus{
    position:absolute;
    left:0;
    top:0;
    width:100px;
    height:20px;
    background: blue;
}
#HeroImg{
    width:30px;
    height:20px;
    background: green;
    float:left;
}
#Experience{
    width:30px;
    height:20px;
    background: green;
    float:left;
    margin:0 5px 0 5px;
}
#XP{
    width:30px;
    height:20px;
    background: green;
    float:left;
}
#MainMenu{
    width:684px;
    height:60px;
    position: absolute;
    top:0;
    right:0;
   /* background: url("../images/bgmenu.jpg");*/
}
#WindowLocations{
    position:absolute;
    display:none;
    margin:0 0 0 50%;
    left:-400px;
    height:420px;
    width:800px;
    background:red;

    top:50px;

}
#WindowMenu{
    position:absolute;
    display:table;
    margin:0 0 0 50%;
    left:-400px;
    height:420px;
    width:800px;
    background:red;
    top:50px;
<<<<<<< HEAD
}

.elementMainMenu{
    width:70px;
    height: 20px;
    border:2px solid black;
    float:left;
    margin:2px
}

#MenuUser{
    position:absolute;
=======

}
#WindowMenu{
    position:absolute;
    display:table;
>>>>>>> 952702c3c884b8ae00885f2d131cd77fb4034958
    margin:0 0 0 50%;
    left:-400px;
    height:420px;
    width:800px;
    background:red;
    top:50px;
    display: none;
}

<<<<<<< HEAD
#leftMenu{
    height:400px;
    width: 385px;
    background:white;
    margin:10px;
    float:left;

}
#rightMenu{
    height:350px;
    width:385px;
    background:white;
    margin:0 10px 10px 0;
    float:left;
}

#MenuForMenuRight{
    background: green;
    width:385px;
    height:50px;
    margin:10px 10px 0 0;
    float:left;

}

.menuForRight{
    float:left;
    width:60px;
    height:50px;
    margin:0 10px 0 0;
}

.thingMenu{
    width:90px;
    height: 90px;
    background: blue;
    margin:30px 30px 30px 30px;
    border:1px solid black;
}
#thing1{
    margin:0 50%;
    left:-45px;
    position: relative;
}
#thing2{
    float:left;
    margin:30px 100px 30px 30px;
}

#thing3{
    float:right;
}

#thing4{
    float:left;
}

#thing5{
    float:right
}

#divClear{
    clear:none;
}

.qwe{
    float:left;
    margin:1px;
}

.MenuBagThing{
    float:left;
    margin:10px;
    background: #ababab;
    border:1px solid #696969;
    width:50px;
    height:50px;
}

.MenuBagState{
    float:left;
    margin:10px 20px;
    background: #ababab;
    border:1px solid #696969;
    width:80px;
    height:80px;
}

#RightMenuBag{
    display: none;
}

.stringMenuState{
    float:left;
    margin:10px 0;
    background: #ababab;
    border:1px solid #696969;
    width:90px;
    height:30px;
}

.bottomMenuState{
    margin:0 0 0 0;
    height:25px;
}

.State{
    width:200px;
}

.exit{
    position: absolute;
    width:20px;
    height: 20px;
    top:10px;
    right: 20px;
    background: blanchedalmond;
=======
.elementMainMenu{
    width:70px;
    height: 20px;
    border:2px solid black;
    float:left;
    margin:2px
>>>>>>> 952702c3c884b8ae00885f2d131cd77fb4034958
}